ion-header {
  text-align: center;
}

.div-error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.div-success {
  text-align: center;
  color: green;
  font-size: large;
  font-weight: bold;
}
